
    <table md-table data-md-row-select="" class="style1">
      <caption>HISTORIAL MEDICO-ENTRO MEDICO UPeU</caption>
                    <thead md-head class="style3">
                        <tr md-row>
                            <th md-column>N°</th>
                            <th md-column md:order:by="name">Atencion centro medico</th>
                            <th md-column colspan='2' align='center'>Registro</th>
                        </tr>
                   
  
                             <!--fila 1 -->
  <tr class="style5">
    <td>1</td>

    <td><img  class="style4" aling="center" src="media/img/upeu-logo.jpg"><input  type="button" value="Universidad Peruana Union" aria-label="Add" ui-sref="topico2.topico2.historias"></td>

    <td>100 registros ver mass</td>

  </tr>

                            <!-- fila 2 -->
  <tr class="style5"> 
    <td>2</td>

    <td><img class="style4" aling="center" src="media/img/u112.png"><input  type="button" value="Colegio Adventista del Titicaca" 
      aria-label="Add" ui-sref="topico2.topico2.historias"></td>

    <td>100 registros ver mass</td>

  </tr>

                             <!-- fila 3 -->
  <tr class="style5">
    <td>3</td>

    <td><img class="style4" aling="center" src="media/img/u114.png"><input  type="button" value="Personal UPeU" aria-label="Add" ui-sref="topico2.topico2.historias"></td>

    <td>100 registros ver mass</td>

  </tr>

                             <!-- fila 4 -->
  <tr class="style5">
    <td>1</td>

    <td><img class="style4" aling="center" src="media/img/u116.png"/><input  type="button" value="Misiones" aria-label="Add" ui-sref="topico2.topico2.historias"></td>

    <td>100 registros ver mass</td>

  </tr>

                              <!-- fila 5 -->
  <tr class="style5">
    <td>1</td>

    <td><img class="style4" aling="center" src="media/img/u118.jpg" /><input   type="button" value="Visitas" aria-label="Add" ui-sref="topico2.topico2.historias"></td>

    <td >100 registros ver mas</td>
  </tr>

  
</table>

<style> 
.style1{
background-color: #610B5E; /* Color de fondo */
color: #EAF3FA; /* Color de texto */
font-family: Helvetica; /* Tipo de letra */
font-size: 20px; /* Tamaño de letra */
width: 1200px;/* Ancho */
height: 20px;/* Alto */
padding: 100px; /* Expansión */ 
border-top:8px solid #9A2EFE; /* Borde de arriba */
border-left:8px solid #9A2EFE; /* Borde de izquierda */
border-right:8px solid #9A2EFE; /* Borde de derecha */
border-bottom:8px solid #9A2EFE; /* Borde de abajo */
vertical-align: center;
}



.style2 {
    
background: #084B8A ;
right:0%;
}
.style3 {
    
background: #084B8A;
right:0%;
}
.style4 {
    
width:52px;

}
.style5 {
    
width:50px;
background:#EAF3FA;
}
.style6 {
    
background:#0000FF;
}


</style>